<nav>
    <div class="site-title">
      <a href="/"><h1>Training</h1></a>
      <p>training site</p>
    </div>
    <ul>
      <li><a href="/login">login</a></li>
      <li><a href="/">Blogs</a></li>
    </ul>
  </nav> 